﻿
<nav class="navbar navbar-toggleable-md navbar-light bg-faded nav" *ngIf="logged">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand">Staging-Tool EvKB</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/patient" routerLinkActive="active">Patienten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/project" routerLinkActive="active">Projekte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active" *ngIf="user.superuser">Admin</a>
                </li>
            </ul>
            <div class="marginRight">
                <span>{{user.user_name}}</span>
            </div>
            <div class="marginRight">
                <i class="fa fa-sign-out fa-2x Cursor" aria-hidden="true" (click)="logout()"></i>
            </div>

        </div>
    </div>
</nav>
<div class="container" style="padding:10px;">
    <app-notification></app-notification>
    <router-outlet></router-outlet>
</div>
<app-loader></app-loader>
