﻿<div *ngIf="dept" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{dept.department_id ? 'Fachabteilung bearbeiten':'Neue Fachabteilung anlegen'}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancelForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Fachabteilung</label>
                <div class="col-10">
                    <input id="name" [(ngModel)]="dept.department_name" class="form-control" [class.emptyField]="!dept.department_name" />
                </div>
            </div>

            <div class="form-group row">
                <label for="short_name" class="col-2 col-form-label">Abkürzung</label>
                <div class="col-10">
                    <input id="short_name" [(ngModel)]="dept.department_short_name" class="form-control" [class.emptyField]="!dept.department_short_name" />
                </div>
            </div>

            <div class="form-group row">
                <label for="wards" class="col-2 col-form-label">Stationen</label>
                <div class="col-10">
                    <ss-multiselect-dropdown [options]="wardOptions" [(ngModel)]="selectedWardOptions" [texts]="selectboxText" [settings]="selectboxOptions"></ss-multiselect-dropdown>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="delete()" *ngIf="dept.department_id">Löschen</button>
            <button type="button" class="btn btn-default" (click)="cancelForm()">Abbrechen</button>
            <button type="button" class="btn btn-default" (click)="addDepartment()">{{dept.department_id? 'Ändern':'Hinzufügen'}}</button>

        </div>
    </div>
</div>