﻿<div *ngIf="project" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{project.project_id_int ? 'Projekt Token bearbeiten':'Neues Projekt anlegen'}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="project = null">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group row" *ngIf="project.project_id_int">
                <label for="name" class="col-2 col-form-label">Projekt Name</label>
                <div class="col-10">
                    <span id="name" class="form-control">{{project.project_name}}</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="token" class="col-2 col-form-label">Token</label>
                <div class="col-10">
                    <input id="token" [(ngModel)]="project.token" class="form-control" />
                </div>
            </div>

        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-danger" (click)="delete()" *ngIf="project.project_id_int ">Löschen</button>
            <button type="button" class="btn btn-default" (click)="project = null">Abbrechen</button>       
            <button type="button" class="btn btn-default" (click)="addProject()">{{project.project_id_int ? 'Ändern':'Hinzufügen'}}</button>
        </div>
    </div>
</div>