﻿
<h3>Login</h3>

<app-login-modal [user]="initUser" (changed)="passwordChanged()"></app-login-modal>


<div class="form-group row">
    <label for="name" class="col-2 col-form-label">Benutzer</label>
    <div class="col-10">
        <input id="name" [(ngModel)]="user.user_name" class="form-control" (keyup.enter)="login()" />
    </div>
</div>

<div class="form-group row">
    <label for="pw" class="col-2 col-form-label">Passwort</label>
    <div class="col-10">
        <input id="pw" [(ngModel)]="user.user_password" class="form-control" type="password" (keyup.enter)="login()" />
    </div>
</div>


<button (click)="login()" class="btn btn-default">Login</button>
