﻿<h3>Benutzer</h3>


<app-admin-users-modal [newUser]="newUser" (submit)="submitted($event)" (cancel)="canceled($event)"></app-admin-users-modal>


<div *ngIf="!selectedUser">

    <button class="btn-default btn" (click)="addUser()"><i class="fa fa-plus" aria-hidden="true"></i> Benutzer Hinzufügen</button>
    <button class="btn-default btn" (click)="expandedView = !expandedView">Ansicht ändern</button>

    <!-- Einfache User Tabelle -->
    <div *ngIf="!expandedView">
        <div class="table-responsive" style="margin-top:15px; height:500px; overflow:auto;">
            <table class="table table-striped table-sm fixed-header">
                <thead>
                    <tr>
                        <th style="width:35%">Benutzername</th>
                        <th style="width:15%">Gültig von</th>
                        <th style="width:15%">Gültig bis</th>
                        <th style="width:15%">Admin</th>
                        <th style="width:10%">Details</th>
                        <th style="width:10%">Ändern</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.user.user_name}}</td>
                        <td>{{user.user.user_valid_from |  date: "dd.MM.y"}}</td>
                        <td>{{user.user.user_valid_to |  date: "dd.MM.y"}}</td>
                        <td>{{user.user.superuser ? 'Ja':'Nein'}}</td>
                        <td style="cursor:pointer;" (click)="selectedUser = user"><i class="fa fa-info" aria-hidden="true"></i></td>
                        <td style="cursor:pointer;" (click)="newUser = user"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <!-- Erweiterte Ansicht mit 'aufklappbaren' Zellen -->
    <div *ngIf="expandedView">
        <div class="table-responsive" style="margin-top:15px;">
            <table class="table table-striped table-sm fixed-header">
                <thead>
                    <tr>
                        <th style="width:15%">Benutzername</th>
                        <th style="width:10%">Gültig von</th>
                        <th style="width:10%">Gültig bis</th>
                        <th style="width:5%">Admin</th>
                        <th style="width:15%">Fachabteilungen</th>
                        <th style="width:15%">Stationen</th>
                        <th style="width:15%">Projekte</th>
                        <th style="width:15%">Fälle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.user.user_name}}</td>
                        <td>{{user.user.user_valid_from |  date: "dd.MM.y"}}</td>
                        <td>{{user.user.user_valid_to |  date: "dd.MM.y"}}</td>
                        <td>{{user.user.superuser ? 'Ja':'Nein'}}</td>

                        <td (click)="user.expandDepartment = !user.expandDepartment" class="Cursor">
                            <ng-container *ngIf="!user.expandDepartment">
                                {{user.departments.length}}
                            </ng-container>
                            <ng-container *ngIf="user.expandDepartment">
                                <ng-container *ngFor="let dept of user.departments">{{dept.department_name}} <br /></ng-container>

                            </ng-container>
                        </td>

                        <td (click)="user.expandWard = !user.expandWard" class="Cursor">
                            <ng-container *ngIf="!user.expandWard">
                                {{user.wards.length}}
                            </ng-container>
                            <ng-container *ngIf="user.expandWard">
                                <ng-container *ngFor="let ward of user.wards">{{ward.ward_name}} <br /></ng-container>

                            </ng-container>

                        </td>

                        <td (click)="user.expandProject = !user.expandProject" class="Cursor">

                            <ng-container *ngIf="!user.expandProject">
                                {{user.projects.length}}
                            </ng-container>
                            <ng-container *ngIf="user.expandProject">
                                <ng-container *ngFor="let project of user.projects">{{project.project_name}} <br /></ng-container>

                            </ng-container>
                        </td>

                        <td (click)="user.expandCase = !user.expandCase" class="Cursor">
                            <ng-container *ngIf="!user.expandCase">
                                {{user.cases.length}}
                            </ng-container>
                            <ng-container *ngIf="user.expandCase">
                                <ng-container *ngFor="let case of user.cases">{{case.patient.first_name}} {{case.patient.last_name}}<br /></ng-container>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Kachel Auswahl der Details -->
<div *ngIf="selectedUser && (selectedDetailState == null)">
    <div class="form-group row">
        <div class="col-6">
            <button class="btn btn-default" (click)="selectedUser = null;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Zurück</button>
        </div>
    </div>
    <div class="form-group row centerRow">
        <div class="col-6">
            <button class="btn btn-default detailSelection" (click)="setDetailState(DetailState.PROJECTS)">Projekte</button>
        </div>
        <div class="col-6">
            <button class="btn btn-default detailSelection" (click)="setDetailState(DetailState.WARDS)">Stationen</button>
        </div>
    </div>
    <div class="form-group row centerRow">
        <div class="col-6">
            <button class="btn btn-default detailSelection" (click)="setDetailState(DetailState.CASES)">Vom Benutzer zugeordnete Fälle</button>
        </div>
        <div class="col-6">
            <button class="btn btn-default detailSelection" (click)="setDetailState(DetailState.DEPARTMENTS)">Fachabteilungen</button>
        </div>
    </div>
</div>


<!-- Detail Ansicht -->
<div *ngIf="selectedDetailState != null">
    <div class="form-group row">
        <div class="col-6">
            <button class="btn btn-default" (click)="setDetailState(null)"><i class="fa fa-arrow-left" aria-hidden="true"></i> Zurück</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <h5>{{selectedUser.user.user_name}}</h5>
        </div>
    </div>


    <!-- Fälle -->
    <div *ngIf="selectedDetailState === DetailState.CASES">

        <div class="table-responsive" style="margin-top:15px;">
            <table class="table table-striped table-sm fixed-header">
                <thead>
                    <tr>
                        <th style="width:5%">Fall ID</th>
                        <th style="width:10%">Fall start</th>
                        <th style="width:10%">Fall eden</th>
                        <th style="width:30%">Beschreibung</th>


                        <th style="width:5%">Patient ID</th>
                        <th style="width:20%">Patient</th>
                        <th style="width:10%">Geburtsdatum</th>
                        <th style="width:10%">Aufnahme</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let case of selectedUser.cases">
                        <td>{{case.case_id_ext}}</td>
                        <td>{{case.case_start |  date: "dd.MM.y"}}</td>
                        <td>{{case.case_end |  date: "dd.MM.y"}}</td>
                        <td>{{case.case_description}}</td>

                        <td>{{case.patient.patient_id_ext}}</td>
                        <td>{{case.patient.first_name}} {{case.patient.last_name}}</td>
                        <td>{{case.patient.date_of_birth |  date: "dd.MM.y"}}</td>
                        <td>{{case.patient.admission |  date: "dd.MM.y HH:mm"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Fachabteilungen -->
    <div *ngIf="selectedDetailState === DetailState.DEPARTMENTS">
        <div class="table-responsive" style="margin-top:15px;">
            <table class="table table-striped table-sm fixed-header">
                <thead>
                    <tr>
                        <th style="width:50%">Fachabteilung</th>
                        <th style="width:30%">Abkürzung</th>
                        <th style="width:20%">Stationen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dept of selectedUser.departments">
                        <td>{{dept.department_name}}</td>
                        <td>{{dept.department_short_name}}</td>
                        <td>{{dept.wards.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Stationen -->
    <div *ngIf="selectedDetailState === DetailState.WARDS">
        <div class="table-responsive" style="margin-top:15px;">
            <table class="table table-striped table-sm fixed-header">
                <thead>
                    <tr>
                        <th style="width:10%">Stations ID</th>
                        <th style="width:60%">Stationsname</th>
                        <th style="width:30%">Stations Manager</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ward of selectedUser.wards">
                        <td>{{ward.ward_id_ext}}</td>
                        <td>{{ward.ward_name}}</td>
                        <td>{{ward.ward_manager}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Projekte -->
    <div *ngIf="selectedDetailState === DetailState.PROJECTS">
        <div class="table-responsive" style="margin-top:15px;">
            <table class="table table-striped table-sm fixed-header">
                <thead>
                    <tr>
                        <th style="width:80%">Projektname</th>
                        <th style="width:20%">Projekt Admin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of selectedUser.projects">
                        <td>{{project.project_name}}</td>
                        <td>{{project.project_admin}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
