﻿tr{
    cursor:pointer;
}

.fa-search:before {
    margin-right: 5px;
}
.searchfield {
    width: 100%;
}
.patientTableHeader {
    white-space: nowrap !important;
    cursor: pointer;
}
.patientTableSearch {
    white-space: nowrap !important;
}
.projectTableHeader {
    white-space: nowrap !important;
}
.projectTableSearch {
    white-space: nowrap !important;
}
.red{
    color:red;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.selected {
    background-color: #A2A2A2;
    color: #eeeeee;
}

.selected:hover {
    background-color: #eeeeee;
    color: black;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.gridFooter {
    width: 100%;
    background-color: white;
}
.tfooterright {
    float: right;
    margin: 5px;
    display: inline;
}
.tfooterleft {
    float: left;
    margin: 5px;
    display: inline;
}