﻿


<app-patient-modal [data]="destinationOfSelectedData" (cancel)="formClosed($event)" ></app-patient-modal>


<h3>{{patHeadline}}</h3>


<div *ngIf="!projects">

    <div style="float:left; margin-bottom:5px">
        <span>inaktive Fälle anzeigen: </span>
        <input type="checkbox" [(ngModel)]="showDischarged" style="margin-left:10px; margin-right: 10px" /><br />
        <span>künftige Aufnahmen ausblenden: </span>
        <input type="checkbox" [(ngModel)]="hideFutureAdmission" style="margin-left:10px; margin-right: 10px" />
        <button class="btn btn-default" (click)="onRefreshClick()">Ansicht aktualisieren</button>
    </div>
    
    <div id="patients" class="table-responsive" style="margin-top:15px;">

        <table class="table table-striped table-sm fixed-header">
            <thead>
                <tr>
                    <th style="width:3%" class="patientTableHeader"></th>
                    <th style="width:7.4%" class="patientTableHeader">Projekt(e)</th>
                    <th style="width:5.9%" class="patientTableHeader" (click)="sortCases('', 'case_kind', 1)">Fallart <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 1" [class.fa-sort-asc]="isDesc === true && sortCol === 1" [class.fa-sort]="sortCol != 1" [class.disabled]="sortCol != 1" aria-hidden="true"></i></th>
                    <th style="width:4%" class="patientTableHeader" (click)="sortCases('', 'case_id_ext',2 )">Fall# <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 2" [class.fa-sort-asc]="isDesc === true && sortCol === 2" [class.fa-sort]="sortCol != 2" [class.disabled]="sortCol != 2" aria-hidden="true"></i></th>
                    <th style="width:4%" class="patientTableHeader" (click)="sortCases('patient', 'patient_id_ext', 3)">Patient# <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 3" [class.fa-sort-asc]="isDesc === true && sortCol === 3" [class.fa-sort]="sortCol != 3" [class.disabled]="sortCol != 3" aria-hidden="true"></i></th>
                    <th style="width:9.5%" class="patientTableHeader" (click)="sortCases('patient', 'last_name', 4)">Name <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 4" [class.fa-sort-asc]="isDesc === true && sortCol === 4" [class.fa-sort]="sortCol != 4" [class.disabled]="sortCol != 4" aria-hidden="true"></i></th>
                    <th style="width:9.5%" class="patientTableHeader" (click)="sortCases('patient', 'first_name', 5)">Vorname <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 5" [class.fa-sort-asc]="isDesc === true && sortCol === 5" [class.fa-sort]="sortCol != 5" [class.disabled]="sortCol != 5" aria-hidden="true"></i></th>
                    <th style="width:5.9%" class="patientTableHeader" (click)="sortCases('patient', 'date_of_birth_str', 6)">B-day <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 6" [class.fa-sort-asc]="isDesc === true && sortCol === 6" [class.fa-sort]="sortCol != 6" [class.disabled]="sortCol != 6" aria-hidden="true"></i></th>
                    <th style="width:4%" class="patientTableHeader" (click)="sortCases('patient', 'alter', 7)">Alter <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 7" [class.fa-sort-asc]="isDesc === true && sortCol === 7" [class.fa-sort]="sortCol != 7" [class.disabled]="sortCol != 7" aria-hidden="true"></i></th>
                    <th style="width:5.2%" class="patientTableHeader" (click)="sortCases('patient', 'gender', 8)">Geschlecht <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 8" [class.fa-sort-asc]="isDesc === true && sortCol === 8" [class.fa-sort]="sortCol != 8" [class.disabled]="sortCol != 8" aria-hidden="true"></i></th>
                    <th style="width:5.2%" class="patientTableHeader" (click)="sortCases('patient', 'zip_code', 9)">PLZ <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 9" [class.fa-sort-asc]="isDesc === true && sortCol === 9" [class.fa-sort]="sortCol != 9" [class.disabled]="sortCol != 9" aria-hidden="true"></i></th>
                    <th style="width:5.2%; background-color:#D0F6D2" class="patientTableHeader" (click)="sortCases('', 'case_last_message', 16)">Aktuell<br /> Datum <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 16" [class.fa-sort-asc]="isDesc === true && sortCol === 16" [class.fa-sort]="sortCol != 16" [class.disabled]="sortCol != 16" aria-hidden="true"></i></th>
                    <th style="width:5.2%; background-color:#D0F6D2" class="patientTableHeader" (click)="sortCases('department_current', 'department_short_name', 12)">Abteilung<br /> Aktuell <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 12" [class.fa-sort-asc]="isDesc === true && sortCol === 12" [class.fa-sort]="sortCol != 12" [class.disabled]="sortCol != 12" aria-hidden="true"></i></th>
                    <th style="width:5.2%; background-color:#D0F6D2" class="patientTableHeader" (click)="sortCases('ward_current', 'ward_short_name', 13)">Station<br /> Aktuell <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 13" [class.fa-sort-asc]="isDesc === true && sortCol === 13" [class.fa-sort]="sortCol != 13" [class.disabled]="sortCol != 13" aria-hidden="true"></i></th>
                    <th style="width:5.2%" class="patientTableHeader" (click)="sortCases('', 'case_start', 10)">Aufnahme<br /> Datum <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 10" [class.fa-sort-asc]="isDesc === true && sortCol === 10" [class.fa-sort]="sortCol != 10" [class.disabled]="sortCol != 10" aria-hidden="true"></i></th>
                    <th style="width:5.2%" class="patientTableHeader">Aufnahme<br /> Zeit </th>
                    <th style="width:5.2%" class="patientTableHeader" (click)="sortCases('department_admission', 'department_short_name', 14)">Abteilung<br /> Aufnahme <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 14" [class.fa-sort-asc]="isDesc === true && sortCol === 14" [class.fa-sort]="sortCol != 14" [class.disabled]="sortCol != 14" aria-hidden="true"></i></th>
                    <th style="width:5.2%" class="patientTableHeader" (click)="sortCases('ward_admission', 'ward_short_name', 15)">Station<br /> Aufnahme <i class="fa" [class.fa-sort-desc]="isDesc === false && sortCol === 15" [class.fa-sort-asc]="isDesc === true && sortCol === 15" [class.fa-sort]="sortCol != 15" [class.disabled]="sortCol != 15" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="patientTableSearch"><input type="checkbox" (click)="selectAllCases($event)" /></td>
                    <td class="patientTableSearch"><input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="projekteFilterString" /></td>
                    <td class="patientTableSearch">
                        <input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="fallartFilterString" />
                        <div>
                            <select [ngModel]="defaultFilterType" (ngModelChange)="onFilterTypeChange($event, 'fallart')">
                                <option [ngValue]="i" *ngFor="let i of filterType">{{i}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="patientTableSearch"><input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="fallFilterString" /></td>
                    <td class="patientTableSearch"><input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="patientFilterString" /></td>
                    <td class="patientTableSearch">
                        <input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="nameFilterString" />
                        <div>
                            <select [ngModel]="defaultFilterType" (ngModelChange)="onFilterTypeChange($event, 'name')">
                                <option [ngValue]="i" *ngFor="let i of filterType">{{i}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="patientTableSearch">
                        <input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="vornameFilterString" />
                        <div>
                            <select [ngModel]="defaultFilterType" (ngModelChange)="onFilterTypeChange($event, 'vorname')">
                                <option [ngValue]="i" *ngFor="let i of filterType">{{i}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="patientTableSearch"><input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="gebdatFilterString" /></td>
                    <td class="patientTableSearch"><input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="alterFilterString" /></td>
                    <td class="patientTableSearch"><input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="geschlechtFilterString" /></td>
                    <td class="patientTableSearch"><input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="plzFilterString" /></td>
                    <td class="patientTableSearch" style="background-color:#CCE0CC"><input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="letzteNachrichtFilterString" /></td>
                    <td class="patientTableSearch" style="background-color:#CCE0CC">
                        <input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="abteilungAktuellFilterString" />
                        <div>
                            <select [ngModel]="defaultFilterType" (ngModelChange)="onFilterTypeChange($event, 'abteilungAktuell')">
                                <option [ngValue]="i" *ngFor="let i of filterType">{{i}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="patientTableSearch" style="background-color:#CCE0CC">
                        <input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="stationAktuellFilterString" />
                        <div>
                            <select [ngModel]="defaultFilterType" (ngModelChange)="onFilterTypeChange($event, 'stationAktuell')">
                                <option [ngValue]="i" *ngFor="let i of filterType">{{i}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="patientTableSearch"><input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="aufnahmeFilterString" /></td>
                    <td class="patientTableSearch"></td>
                    <td class="patientTableSearch">
                        <input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="abteilungFilterString" />
                        <div>
                            <select [ngModel]="defaultFilterType" (ngModelChange)="onFilterTypeChange($event, 'abteilung')">
                                <option [ngValue]="i" *ngFor="let i of filterType">{{i}}</option>
                            </select>
                        </div>
                    </td>
                    <td class="patientTableSearch">
                        <input type='text' placeholder="&#xF002;" style="font-family:Arial, FontAwesome" class="searchfield" height="10" (keyup.enter)='filterCases($event)' [(ngModel)]="stationFilterString" />
                        <div>
                            <select [ngModel]="defaultFilterType" (ngModelChange)="onFilterTypeChange($event, 'station')">
                                <option [ngValue]="i" *ngFor="let i of filterType">{{i}}</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let case of showableCases; let i = index" (click)="case.selected = !case.selected; updateSelectedCaseCounter($event, case)">
                    <td><input type="checkbox" [ngModel]="case.selected" /></td>
                    <td><div *ngFor="let project of case.projects">- {{project.project_name}}</div></td>
                    <td>{{case.case_kind}}</td>
                    <td>{{case.case_id_ext}}</td>
                    <td>{{case.patient?.patient_id_ext}}</td>
                    <td>{{case.patient?.last_name}}</td>
                    <td>{{case.patient?.first_name}}</td>
                    <td>{{case.patient?.date_of_birth | date: 'dd.MM.y'}}</td>
                    <td>{{case.patient?.alter}}</td>
                    <td>{{case.patient?.gender}}</td>
                    <td>{{case.patient?.zip_code}}</td>
                    <td [style.background-color]="getTableStyle(i)">{{case.case_last_message | date: 'dd.MM.y'}}</td>
                    <td [style.background-color]="getTableStyle(i)">{{case.department_current?.department_short_name}}</td>
                    <td [style.background-color]="getTableStyle(i)">{{case.ward_current?.ward_short_name}}</td>
                    <td>{{case.case_start | date: 'dd.MM.y'}}</td>
                    <td>{{case.case_start | date: 'shortTime'}}</td>
                    <td>{{case.department_admission?.department_short_name}}</td>
                    <td>{{case.ward_admission?.ward_short_name}}</td>
</tr>

            </tbody>
        </table>

    </div>

    <div class="gridFooter">
        <div class="tfooterleft">
            <button class="btn btn-default" (click)="selectProjects()">Projektzuordnung</button>
        </div>

        <div class="tfooterright">

            <ul class="pager">
                <li (click)="switchCasePage('first')" [class.disabled]="page == 1"><a><i class="fa fa-angle-double-left fa-2x" aria-hidden="true" style=""></i></a></li>
                <li (click)="switchCasePage('prev')" [class.disabled]="page == 1"><a><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a></li>

                <i>
                    <span>
                        <select [ngModel]="page" (ngModelChange)="onPageChange($event)">
                            <option [ngValue]="i" *ngFor="let i of pages">{{i}}</option>
                        </select>
                    </span> von {{pagescount}}
                </i>

                <li (click)="switchCasePage('next')" [class.disabled]="page == pagescount"><a><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a></li>
                <li (click)="switchCasePage('last')" [class.disabled]="page == pagescount"><a><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></a></li>
            </ul>
        </div>


        <div style="clear: both">
            <span>Datensätze insgesamt: <i>{{caseCount}}</i> | </span>
            <span>
                pro Seite: <i>
                    <select [ngModel]="rowsPerPageStr" (ngModelChange)="onRowsPerPageChange($event)">
                        <option [ngValue]="i" *ngFor="let i of rowsPerPageArr">{{i}}</option>
                    </select>
                </i>
            </span>
            <br />
            <span *ngIf="showExpired">Datensätze abgelaufen: <i>{{expiredCaseCount}}</i></span>
            <br *ngIf="showExpired" />
            <span>Datensätze gefiltert: <i>{{filterdCaseCount}}</i></span>
            <br />
            <span>Datensätze selektiert: <i>{{selectedCaseCount}}</i></span>
        </div>



    </div>
</div>






<div *ngIf="projects">

    <button class="btn btn-default" (click)="backToPatients()">Zurück</button>
    <div class="table-responsive" style="margin-top:15px; height:500px; overflow:auto;">
        <table class="table table-striped table-sm fixed-header">
            <thead>
                <tr>
                    <th style="width:10%" class="projectTableHeader"></th>
                    <th style="width:20%" class="projectTableHeader" (click)="sortProjects('project_id_ext')">RedCap Projekt ID <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th style="width:70%" class="projectTableHeader" (click)="sortProjects('project_name')">Projekt Name <i class="fa fa-sort" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="patientTableSearch"></td>
                    <td class="projectTableSearch"><input type='text' class="searchfield" height="10" (keyup.enter)='filterProjects()' [(ngModel)]="projectIdFilterString" /></td>
                    <td class="projectTableSearch"><input type='text' class="searchfield" height="10" (keyup.enter)='filterProjects()' [(ngModel)]="projectNameFilterString" /></td>
                   
                </tr>
                <tr *ngFor="let project of filteredProjects" (click)="project.selected = !project.selected ">
                    <td><input type="checkbox" [(ngModel)]="project.selected" (click)="$event.stopPropagation();"/></td>
                    <td>{{project.project_id_ext}}</td>
                    <td>{{project.project_name}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>


    <button class="btn btn-default" (click)="setPatientsInProject()">Projektzuordnung</button>
</div>
