﻿<h3>Fachabteilung</h3>


<app-admin-department-modal [newDept]="newDept" (submit)="submitted($event)" (cancel)="canceled($event)"></app-admin-department-modal>



<button class="btn-default btn" (click)="addDepartment()"><i class="fa fa-plus" aria-hidden="true"></i> Fachabteilung Hinzufügen</button>

<div *ngIf="!expandedView">
    <div class="table-responsive" style="margin-top:15px; height:500px; overflow:auto;">
        <table class="table table-striped table-sm fixed-header">
            <thead>
                <tr>
                    <th style="width:20%">Fachabteilung</th>
                    <th style="width:15%">Abk.</th>
                    <th style="width:60%">Stationen</th>
                    <th style="width:5%">Ändern</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dept of depts">
                    <td>{{dept.department_name}}</td>
                    <td>{{dept.department_short_name}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let ward of dept.wards">
                                {{ward.ward_name}} {{ward.ward_short_name}}
                            </li>
                        </ul>
                    </td>
                    <td style="cursor:pointer;" (click)="newDept = dept"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
