﻿<div *ngIf="data" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Bestimmung</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancelForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="table-responsive" style="margin-top:15px;">

                <table class="table table-striped table-sm fixed-header">
                    <thead>
                        <tr>
                            <th style="width:25%">Patient</th>
                            <th style="width:15%">Geburtstag</th>
                            <th style="width:10%">Fallnummer</th>
                            <th style="width:20%">Projekt</th>
                            <th style="width:30%">Bestimmung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tmp of data; let i = index" >
                            <td>{{tmp.patient.first_name}} {{tmp.patient.last_name}}</td>
                            <td>{{tmp.patient.date_of_birth | date: "dd.MM.y"}}</td>
                            <td>{{tmp.hospital_case.case_id_ext}}</td>
                            <td>{{tmp.project.project_name}}</td>
                            <td>         
                                
                                <form>
                                    <ng-container *ngIf="tmp.newRecord && !tmp.ignore">
                                        <input type="radio" name="destination" [id]="'new'+i" [(ngModel)]="tmp.destination" [value]="patientDestination.NEW" (change)="destinationChanged(patientDestination.NEW,tmp.reference_id,tmp.hospital_case.case_id_int)" /><label [attr.for]="'new'+i">Neue Akte</label>
                                    </ng-container>
                                    <ng-container>
                                        <input type="radio" name="destination" [id]="'ignore'+i" [(ngModel)]="tmp.destination" [value]="patientDestination.IGNORE" (change)="destinationChanged(patientDestination.IGNORE,tmp.reference_id,tmp.hospital_case.case_id_int)" /><label [attr.for]="'ignore'+i" [class.red]="tmp.ignore">Ignorieren</label>
                                    </ng-container>
                                    <ng-container *ngIf="(tmp.instance || tmp.listInstance) && !tmp.ignore">
                                        <input type="radio" name="destination" [id]="'instance'+i" [(ngModel)]="tmp.destination" [value]="patientDestination.INSTANCE" (change)="destinationChanged(patientDestination.INSTANCE,tmp.reference_id,tmp.hospital_case.case_id_int)" /><label [attr.for]="'instance'+i">Neue Instanz</label>
                                    </ng-container>

                                </form>



                                <!--<form>
                                    <ng-container *ngIf="!tmp.caseInProject && tmp.enableNewPatient">
                                        <input type="radio" name="destination" [id]="'new'+i" [(ngModel)]="tmp.destination" [value]="patientDestination.NEW" (change)="destinationChanged(patientDestination.NEW,tmp.reference_id,tmp.hospital_case.case_id_int)"/><label [attr.for]="'new'+i">Neue Akte</label> 
                                    </ng-container>
                                    <ng-container >
                                        <input type="radio" name="destination" [id]="'ignore'+i" [(ngModel)]="tmp.destination" [value]="patientDestination.IGNORE" (change)="destinationChanged(patientDestination.IGNORE,tmp.reference_id,tmp.hospital_case.case_id_int)" /><label [attr.for]="'ignore'+i" [class.red]="tmp.caseInProject">Ignorieren</label> 
                                    </ng-container>
                                    <ng-container *ngIf="(tmp.patientInProject || tmp.enableInstance) && !tmp.caseInProject">
                                        <input type="radio" name="destination" [id]="'instance'+i" [(ngModel)]="tmp.destination" [value]="patientDestination.INSTANCE" (change)="destinationChanged(patientDestination.INSTANCE,tmp.reference_id,tmp.hospital_case.case_id_int)"/><label [attr.for]="'instance'+i">Neue Instanz</label> 
                                    </ng-container>
                                  
                                </form>-->
                            </td>
                         
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="cancelForm()">Abbrechen</button>
            <button type="button" class="btn btn-default" (click)="submit()">Zuordnen</button>
        </div>
    </div>

</div>