﻿<div *ngIf="user" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{user.user.user_id ? 'Benutzer bearbeiten':'Neuen Benutzer anlegen'}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancelForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Benutzername</label>
                <div class="col-8">
                    <input id="name" [(ngModel)]="user.user.user_name" class="form-control" [class.emptyField]="!user.user.user_name" />
                </div>
                <div class="col-2">
                    <input type="checkbox" [(ngModel)]="user.user.superuser" /> Admin
                </div>
            </div>

            <div class="form-group row">

                <label for="validFrom" class="col-2 col-form-label">Gültig ab</label>
                <div class="col-4">
                    <p-calendar id="validFrom" [(ngModel)]="user.user.user_valid_from" dateFormat="dd.mm.yy" [locale]="de" [class.emptyField]="!user.user.user_valid_from"></p-calendar>
                </div>
                <label for="validTo" class="col-2 col-form-label">Gültig bis</label>
                <div class="col-4">
                    <p-calendar id="validTo" [(ngModel)]="user.user.user_valid_to" dateFormat="dd.mm.yy" [locale]="de"></p-calendar>
                </div>

            </div>


            <div class="form-group row" *ngIf="!user.user.superuser">
                <div class="col-4">
                    <label for="projects" class="col-2 col-form-label">Projekte</label>
                    <div class="col-10">
                        <ss-multiselect-dropdown [options]="projectOptions" [(ngModel)]="selectedProjectOptions" [texts]="selectboxText" [settings]="selectboxOptions"></ss-multiselect-dropdown>
                    </div>
                </div>

                <div class="col-4">
                    <label for="departments" class="col-2 col-form-label">Fachabtl.</label>
                    <div class="col-10">
                        <ss-multiselect-dropdown [options]="departmentOptions" [(ngModel)]="selectedDepartmentOptions" [texts]="selectboxText" [settings]="selectboxOptions" (ngModelChange)="departmentSelectionChanged()"></ss-multiselect-dropdown>

                    </div>
                </div>

                <div class="col-4">
                    <label for="wards" class="col-2 col-form-label">Stationen</label>
                    <div class="col-10">
                        <ss-multiselect-dropdown [options]="wardOptions" [(ngModel)]="selectedWardOptions" [texts]="selectboxText" [settings]="selectboxOptions"></ss-multiselect-dropdown>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-danger" (click)="delete()" *ngIf="user.user.user_id">Löschen</button>
            <button type="button" class="btn btn-danger" (click)="resetPasswort()" *ngIf="user.user.user_id">Passwort zurücksetzten</button>

            <button type="button" class="btn btn-default" (click)="cancelForm()">Abbrechen</button>
            <button type="button" class="btn btn-default" (click)="addUser()">{{user.user.user_id ? 'Ändern':'Hinzufügen'}}</button>

        </div>
    </div>
</div>