﻿<h3>Projekte</h3>


<button class="btn-default btn" (click)="addProject()"><i class="fa fa-plus" aria-hidden="true" ></i> Projekt Hinzufügen</button>



<app-project-modal [project]="project" (submit)="submitted($event)" (deleted)="deleted($event)"></app-project-modal>

<div class="table-responsive" style="margin-top:15px; height:500px; overflow:auto;">

    <table class="table table-striped table-sm fixed-header">
        <thead>
            <tr>
                <th style="width:20%">RedCap Projekt ID</th>
                <th style="width:30%">Projekt Name</th>
                <th style="width:40%">Token</th>
                <th style="width:10%">Ändern</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects" (click)="selectProject(project)">
                <td>{{project.project_id_ext}}</td>
                <td>{{project.project_name}}</td>
                <td>{{project.token}}</td>
                <td style="cursor:pointer;" ><i class="fa fa-pencil" aria-hidden="true"></i></td> <!-- (click)="" nicht notwendig, da der click auf zeilenebene agiert (siehe tr) --> 
            </tr>
        </tbody>
    </table>
</div>