﻿<div class="notification" *ngIf="notification"
     [class.green]="notification.Type === notificationType.SUCCESS"
     [class.red]="notification.Type === notificationType.ERROR"
     [class.yellow]="notification.Type === notificationType.WARN" >
    <p>{{notification.Message}}</p>
</div>