﻿.notification{
    position:absolute;
    left:0;
    right:0;
    z-index:6;
    border-radius:4px;
    width:80%;
    height:50px;
    color:#333;
    border:1px solid #ccc;
    margin-left:auto;
    margin-right:auto;
    padding:10px 10px;
}

.red{
    background-color:#f00;
}
.green{
    background-color:#0f0;
}
.yellow{
    background-color:#ffff00;
}

