﻿<h3>Admin</h3>

<div id="workstationContainer">
    <div id="tab">
        <button class="tablink" (click)="selectedState = adminState.USERS">Benutzer</button>
        <button class="tablink" (click)="selectedState = adminState.DEPARTMENTS">Fachabteilung</button>
    </div>
    <div class="tabcontent">
        <app-admin-users *ngIf="selectedState === adminState.USERS"></app-admin-users>
        <app-admin-departments *ngIf="selectedState === adminState.DEPARTMENTS"></app-admin-departments>
    </div>
</div>