﻿
#workstationContainer {
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

#tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tablink {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

    .tablink:hover {
        background-color: #ddd;
    }

    .tablink:active {
        background-color: #ccc;
    }

.tabcontent {
    height: 600px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


a, a:active{
    color:#000000;
}
