@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  50% {
    background: green;
  }
}
@keyframes pulse {
  50% {
    background: green;
  }
}

.loading {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
          margin:0 auto;
}
.wrapper{
    position:absolute;
    left:0;
    top: 0;
    width:100%;
    height: 100%;
    background-color: white;
    z-index:100;
    opacity: 0.6;
    padding-top: 20%;
}