﻿<div *ngIf="user" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Passwort ändern</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancelForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Benutzername</label>
                <div class="col-10">
                   <span>{{user.user_name}}</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="pw" class="col-4 col-form-label">neues Passwort</label>
                <div class="col-8">
                    <input id="pw" [(ngModel)]="password" class="form-control" type="password" (keyup.enter)="changePassword()"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="pw2" class="col-4 col-form-label">neues Passwort wiederholen</label>
                <div class="col-8">
                    <input id="pw2" [(ngModel)]="passwordRepeat" class="form-control" type="password" (keyup.enter)="changePassword()"/>
                </div>
            </div>
            <div class="form-group row">
                {{error}}
            </div>
            
        </div>
        <div class="modal-footer">

               <button type="button" class="btn btn-default" (click)="cancelForm()">Abbrechen</button>
                <button type="button" class="btn btn-default" (click)="changePassword()">Ändern</button>
  
        </div>
    </div>
</div>